.ui.menu.sticky {    
    position: sticky;
    top: 0%;
    z-index: 1000;
}

@media screen and (max-width: 45em) {
    #menu-right, #menu-left {
        display: none
    }
}

@media screen and (min-width: 45em) {
    #nav-btn {
        display: none
    }
}