.ui.menu.menuTweaked {
    margin-top: 0;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

@media screen and (max-width: 45em) {
    #menu-right, #menu-left {
        display: none
    }
}

@media screen and (min-width: 45em) {
    #nav-btn {
        display: none
    }
}